<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Adcionar Cidade - World API</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="{{url_for('home')}}">Buscar Cidades</a></li>
			<li><a href="{{url_for('addcidade')}}">Adicionar Cidade</a></li>
			<li><a href="{{url_for('rmcidade')}}">Remover Cidade</a></li>
			<li><a href="{{url_for('attcidade')}}">Atualizar Cidade</a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="form-block">
			<form method="POST" action="/delcity/">
				<h1> Remover cidade </h2>
				<label>ID: </label>
				<select name="ID">
					{% for c in cidades %}
						<option value="{{c['ID']}}">[{{c['ID']}}]  {{c['Name']}}</option>
					{% endfor %}
				</select>
				<input type="submit" value="Remover" class="btn-primary">
			</form>
		</div>
	</div>

</body>
</html>
